body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color: white;
    color: black;
    width: 475px;
    padding: 20px;
    border-radius: 25px;
}
.inputs {
    padding-left:75px;
}
#principal{margin-left:65px}
#rate{margin-left:28px}
#years{margin-left:32px}